<a href="https://colab.research.google.com/github/rajiarazz/learn.py/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [1]:
#please enter your answer below this line
 
data={
   "name":"Alex Ryder",
    "age":28 
}
data.update({"age":32,"town":"calicut"})
print(data)

{'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [2]:
#please enter your answer below this line
 
data={1: 1, 2: 4, 3: 9, 4: 16, 5: 15}
del data[3]
print(data)
data.clear()
print(data)

{1: 1, 2: 4, 4: 16, 5: 15}
{}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [3]:
#please enter your answer below the line
 
data={'hello', 1, (0, 1, 2)}
data.add(6)
print(data)

{(0, 1, 2), 'hello', 1, 6}